# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/

# Private Files
*.enc
*.json
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.xlsx
*.png