torch == 2.7.0
    --extra-index-url https://download.pytorch.org/whl/cu128
matplotlib
python-dotenv
pandas == 2.2.3
transformers == 4.52.2
sentencepiece == 0.2.0
pymongo == 4.13.0
ultralytics == 8.3.136
opencv-python == 4.10.0.84
streamlit

pillow==9.5.0 
vietocr